@import './variables.scss';

.info {

  &__head {
    display: flex;
    margin-bottom: 26px;
  }

  &__avatar {
    width: 120px;
    height: 120px;
    min-width: 120px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__box {
    width: calc(100% - 120px);
    padding-left: 24px;
  }

  &__name {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 20px;
    margin-bottom: 6px;

    &-text {
      font-size: 24px;
      line-height: 1.1;
      font-weight: 600;
      font-family: $secondary-font;
      padding-right: 10px;
      width: 100%;

      span {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    &-wrap {
      position: relative;
      margin-top: 4px;

      &:hover {

        .info__name-dropdown {
          display: block;
        }
      }
    }

    &-btn {
      width: 16px;
      height: 16px;
      min-width: 16px;
      cursor: pointer;
      position: relative;

      span {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $dark-gray;

        &:before {
          position: absolute;
          content: '';
          width: 4px;
          height: 4px;
          border-radius: 50%;
          top: -6px;
          background-color: $dark-gray;
        }

        &:after {
          position: absolute;
          content: '';
          width: 4px;
          height: 4px;
          border-radius: 50%;
          top: 6px;
          background-color: $dark-gray;
        }
      }
    }

    &-dropdown {
      position: absolute;
      top: 16;
      left: 0;
      padding-top: 20px;
      display: none;
    }

    &-list {
      background-color: $white;
      border-radius: 8px;
      padding: 24px 0;
      width: 176px;
    }

    &-link {
      display: flex;
      align-items: center;
      padding: 7px 10px 7px 24px;

      &:hover {
        background-color: $black-squeeze;
      }

      svg {
        width: 20px;
        height: 20px;
        min-width: 20px;
      }

      span {
        width: calc(100% - 20px);
        padding-left: 16px;
        font-weight: 600;
        color: $dark-gray;
      }
    }
  }

  &__nickname {
    letter-spacing: -.5px;
    margin-bottom: 16px;
  }

  &__edit {
    
    &-link {
      display: inline-flex;
      align-items: center;

      &:hover {

        svg {
          transform: scale(1.2);
        }

        span {
          border-bottom-color: transparent;
        }
      }

      svg {
        width: 20px;
        height: 20px;
        fill: $mandy;
        transition: $transition;
      }

      span {
        margin-left: 8px;
        color: $mandy;
        line-height: 1;
        border-bottom: 1px solid $mandy;
        transition: $transition;
      }
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 23px;
  }

  &__col {
    padding-right: 49px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:last-child {
      padding-right: 0;
    }
  }

  &__number {
    font-size: 18px;
    font-weight: 700;
  }

  &__label {
    color: #636363;
  }
}

@media(max-width: $tablet) {
  .info {

    &__name {

      &-dropdown {
        left: auto;
        right: 0;
      }
    }
  }
}

@media(max-width: $mobile-sm) {
  .info {

    &__avatar {
      width: 80px;
      height: 80px;
      min-width: 80px;
    }

    &__box {
      width: calc(100% - 80px);
    }

    &__name {
      padding-right: 0;

      &-text {
        font-size: 18px;
      }
    }
  }
}
