$biloba-flower: #C5ADEF;
$bombay: #B2B3BB;
$black-squeeze: #ECF1F8;
$dark-gray: #3E4056;
$mandy: #ED5267;
$white: #fff;

$main-font: 'Open Sans', Arial, Helvetica, sans-serif;
$secondary-font: 'Montserrat', Arial, Helvetica, sans-serif;

$main-font-size: 16px;
$main-line-height: 1.5;
$main-font-weight: 400;
$main-color: $dark-gray;
$main-bg-color: #F2F2F2;

$transition: all .3s;

$tablet: 1024px;
$mobile: 768px;
$mobile-sm: 480px;